@use "variables" as v;

// superheader styles

* {
  // outline: 1px solid red;
}

header {
  font-family: v.$ff-primary;
  font-size: v.$fs-400;
  text-transform: uppercase;
}

.header-super {
  color: v.$white;
  background: v.$green;
  padding-top: 0.75rem;
  padding-bottom: 1rem;

  .header-super-wrapper {
    display: flex;
    align-items: baseline;
    gap: 16px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.heading-sale {
  font-size: inherit;
  font-weight: inherit;
  margin-right: auto;
}

// main header styles

.header-main {
  color: black;

  .header-main-wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;
      color: inherit;
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}

.header-main a {
  flex-basis: 20%;
  position: relative;
}

.shopping-cart {
  width: 2rem;
  margin-left: auto;
}

.cart-items {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: v.$green;
  margin: 0 auto;
  position: absolute;
  top: -0.25rem;
  right: -0.4rem;
  text-align: center;

  span {
    font-size: v.$fs-400;
    color: v.$white;
    display: inline-block;
    line-height: 1.3rem;
  }
}

// media queries

@media (max-width: 768px) {
  .wrapper.header-super-wrapper {
    width: 100%;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .heading-sale {
      order: 2;
      margin: 0;
      padding: 1rem;
      font-size: v.$fs-600;
      font-weight: v.$fw-500;
    }

    a {
      align-self: flex-end;
    }
  }
}

@media (max-width: 650px) {
  .header-super {
    position: relative;
  }

  .header-main-wrapper {
    flex-direction: column;
    gap: 1rem;
    .logo {
      position: absolute;
      top: 1rem;
    }
  }

  .header-main ul {
    font-size: v.$fs-500;
    flex-direction: column;
    text-align: center;
  }

  .cart {
    display: none;
  }
}
