@use 'variables' as v;

// superheader styles

* {
  // outline: 1px solid red;
}

header {
  font-family: v.$ff-primary;
  font-size: v.$fs-400;
  text-transform: uppercase;
}

.header-super {
  color: v.$white;
  background: v.$green;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
    .header-super-wrapper {
      display: flex;
      align-items: baseline;
      gap: 16px;
        a {
          color: inherit;
          text-decoration: none;
    }
  }
}

.heading-sale {
  font-size: inherit;
  font-weight: inherit;
  margin-right: auto;
}

// main header styles

.header-main {
  color: black;
    .header-main-wrapper {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
        ul {
          display: flex;
          gap: 2rem;
          color: inherit;
          padding: 0;
          li {
            list-style: none;
          }
      }
    }
}

.header-main a {
  flex-basis: 20%;
  position: relative;
}

.shopping-cart {
  width: 2rem;
  margin-left: auto;
}

.cart-items {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: v.$green;
  margin: 0 auto;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  text-align: center;
    span {
      font-size: v.$fs-400;
      color: v.$white;
      display: inline-block;
      line-height: 1.3rem;
    }
}
