$black: hsl(0, 0%, 0%);
$blue-faint: hsl(228, 38%, 97%);
$brown: hsl(28, 58%, 94%);
$green: hsl(85, 52%, 64%);
$grey-dark: hsl(0, 0%, 30%);
$grey-light: hsl(210, 14%, 89%);
$white: hsl(0, 0%, 100%);

$ff-primary: 'Rubik', sans-serif;

$fs-400: 1rem;
$fs-500: 1.5rem;
$fs-600: 2.25rem;
$fs-700: 3.375rem;
$fs-800: 5.0625rem;
$fs-900: 7.59375rem;

$fw-300: 300;
$fw-400: 400;